# ZKP/Circom builds
*.r1cs
*.sym
*.wasm
*.ptau
*.zkey
verification_key.json

# Node
node_modules/
dist/

# Environment Variables / Secrets
.env
.env.local
/.env
target-api/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
